body{
    background: #833AB4;
background: linear-gradient(90deg, #833ab4 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
align-items: center;
height: 800px;
}
.card{
    background-color: #1e1e2f;
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative;
}
.card2
{
    position: absolute;
    top: 15px;
    left: 15px;
    background: gold;
    }
    .pro
    {
        width: 100px;
        height: 100px;
        border-radius: 50%;
       border: 3px solid #8800ff;
    }
    .tags
    {
        display: flex;
        background-color: #333;
        color: #eee;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 12px;
        margin: 4px 4px;
        
    }
    .mess
    {
        background-color: #ff00d4;
        color: #eee;
    }
    .follow
    {
        background-color: transparent;
        color: #ff00d4;
    }